{% include 'base.html' %}

{% block content %}

<div class="container">

    <h1> Notes </h1>

    <!-- ..... -->
    <!-- ..... -->

</div>

<!-- Adding axios script tag here-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

{% endblock %}
<script>
    let form = document.getElementById('form'); // selecting the form

    form.addEventListener('submit', function (event) { // 1
        event.preventDefault()

        let data = new FormData(); // 2

        data.append("title", document.getElementById('title').value)
        data.append("note", document.getElementById('note').value)
        data.append("csrfmiddlewaretoken", '{{csrf_token}}') // 3

        axios.post('create_note/', data) // 4
            .then(res => alert("Form Submitted")) // 5
            .catch(errors => console.log(errors)) // 6

    })

</script>